@page "/"

<h1>
    Hello, world!
</h1>

<button @onclick="@GetAllTodosAsync">
    Get Todos (@_todos.Count)
</button>

@if (_todos is { Count: > 0 })
{
    <ul>
        @foreach (var todo in _todos)
        {
            <li>
                @todo.Title
            </li>
        }
    </ul>
}
